@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(154, 154, 154);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

* {
  font-family: 'Montserrat', sans-serif !important;
  scroll-behavior: smooth !important;
}

body {
  z-index: 1 !important;
  scroll-behavior: smooth !important;
}

nav {
  width: 100%;
  top: 0;
  position: fixed;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
